@page "/"

<PageTitle>Index</PageTitle>

<p role="status">Current count: @_currentCount</p>

@code {
    private int _currentCount;

    protected override async Task OnInitializedAsync()
    {
        for (var i = 0; i < 10; i++)
        {
            _currentCount++;
            StateHasChanged();
            await Task.Delay(5000);
            await JsRuntime.InvokeVoidAsync("sendNotification", $"Files successfully uploaded! No.{i}");
        }
    }
}